<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Manager</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/assets.min.js"></script>
    <script src="application/app.min.js"></script>
</head>
<body ng-app="app">
<div class="container main-block" ng-controller="MainController" style="background-color: rgba(204, 204, 204, 0.25)">
    <ng-view></ng-view>
    <div class="row">
        <div class="col-md-9 col-sm-8">
            <a href="#!/" class="btn btn-success btn-sm" role="button">File List</a>
            <a href="#!/bookmarks" class="btn btn-success btn-sm" role="button">Bookmarks</a>
            <a href="#!/upload" class="btn btn-success btn-sm" role="button">Upload</a>
            <button type="button" class="btn btn-success btn-sm" ng-click="createFile()">Create New</button>
        </div>
        <div class="col-md-3 col-sm-4"></div>
    </div>
</div>
<preview-wrapper></preview-wrapper>
<messenger-notification></messenger-notification>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</body>
</html>