<div ng-controller="CreateFilePopupCtrl">
    <form ng-submit="saveFile($event)">
        <div class="form-group">
            <label for="fileName">Name</label>
            <input id="fileName" type="text" class="form-control" ng-model="fileName" required>
        </div>
        <div class="form-group">
            <label for="fileTypeSelect">Type</label>
            <select id="fileTypeSelect" class="form-control"
                    ng-model="fileType" ng-options="item.type for item in types track by item.mime">
            </select>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>