<div class="row">
    <div class="col-md-12">
        <div class="file-edit-panel">
            <h2>Edit File</h2>

            <div class="file-edit-container">
                <minieditor ng-model="content" options="options"></minieditor>
            </div>
            <div class="file-edit-buttons">
                <a href="#!/" class="btn btn-default btn-sm pull-right">Cancel</a>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>