<div ng-controller="FBListImagesCtrl">
    <div class="list-group">
        <a class="list-group-item" ng-repeat="img in images" ng-click="select(img)">
            <img ng-src="{{ img.picture }}" width="70px" height="70px">
        </a>
    </div>
</div>