<div class="row">
    <div class="col-md-9 col-sm-8">
        <div class="list-files-block">
            <table class="table table-hover list-files">
                <thead>
                <tr>
                    <th>
                        <div ng-click="order('name')">
                            <span>File Name</span>
                            <span class="sortorder" ng-show="predicate === 'name'" ng-class="{ reverse: reverse }"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="order('type')">
                            <span>File Type</span>
                            <span class="sortorder" ng-show="predicate === 'type'" ng-class="{ reverse: reverse }"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="order('formatSize')">
                            <span>Size(Kb)</span>
                            <span class="sortorder" ng-show="predicate === 'formatSize'" ng-class="{ reverse: reverse }"></span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in files | filter: filterByName | orderBy: predicate: reverse" ng-click="select($event, file)">
                    <td>{{ file.name }}</td>
                    <td>{{ file.type }}</td>
                    <td>{{ file.formatSize }}</td>
                </tr>
                </tbody>
            </table>
            <div class="input-group col-xs-4">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" ng-model="regex" placeholder="filter by file name" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Actions</h3>
            </div>
            <div class="panel-body">
                <div ng-show="!fileSelected">
                    <span>Select file at the left side by clicking on it</span>
                </div>
                <div class="file-action" ng-show="fileSelected">
                    <div ng-show="fileSelected.action.download">
                        <a class="btn btn-link  btn-sm btn-action download-link">Download</a>
                    </div>
                    <div ng-show="fileSelected.action.bookmark">
                        <button type="button" class="btn btn-link  btn-sm btn-action" ng-click="addBookmark()">Bookmark</button>
                    </div>
                    <div ng-show="fileSelected.action.delete">
                        <button type="button" class="btn btn-link btn-sm" ng-click="removeBookmark()">Remove</button>
                    </div>
                    <div ng-show="fileSelected.action.preview">
                        <button type="button" class="btn btn-link  btn-sm btn-action" ng-click="preview()">Preview</button>
                    </div>
                    <div ng-show="fileSelected.action.edit">
                        <button type="button" class="btn btn-link  btn-sm btn-action" ng-click="edit()">Edit</button>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span ng-show="fileSelected">File Selected: </span> <span><strong>{{ fileSelected.name }}</strong></span>
            </div>
        </div>
    </div>
</div>
