<div>
    <input id="selectLocalFile" type="file" accept="image/png, image/gif, image/jpeg">
    <div>
        <a class="btn btn-link" ng-click="showFileExplorer($event)">Upload From PC</a>
    </div>
</div>