<div class="row">
    <div class="col-sm-7 col-md-6">
        <div class="file-select-block">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <facebook-file-load></facebook-file-load>
                </div>
                <div class="col-md-6 col-sm-6">
                    <local-file-upload></local-file-upload>
                </div>
            </div>
        </div>
        <div class="preview-img-panel">
            <div class="preview-img-block">
                <img id="previewLoadedImg" class="img-responsive center-block">
            </div>
            <div class="pull-right" ng-show="state == 'preview'">
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>