#selectLocalFile {
    display: none;
}

.main-block {
    background-color: rgba(200, 204, 193, 0.14);
    padding-bootom: 10px;
    margin-top: 15px;
}

.preview-img-panel {
    padding-bottom: 40px;
}

.preview-img-block {
    display: table-cell;
    width: 680px;
    height: 290px;
    background: #eee;
    text-align: center;
    vertical-align: middle;
    border: 2px dashed grey;
}

.preview-img-block img {
    max-width: 100%;
    max-height: 100%;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}

.custom-alert {
    position: fixed;
    width: 400px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10000;
}

.file-edit-container {
    margin-bottom: 10px;
}

.file-edit-container {
    margin-bottom: 10px;
}

.file-edit-buttons > button {
    margin-right: 10px;
}

.list-files-block {
    margin-bottom: 30px;
}

.list-files {
    margin-bottom: 20px;
}